@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 214, 211, 209;     /* graphite-body  #d6d3d1 */
  --background-start-rgb: 28, 25, 23;  /* graphite-bg    #1c1917 */
  --background-end-rgb: 28, 25, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

h1, h2, h3, h4, h5, h6 {
  color: #FAB52D; /* yellow-gold */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 3em;
  line-height: 1;
}
